@import "../../styles/mixins.scss";

.SliderModule {
    position: relative;
    height: 100vh;
    .titleCont {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 170px;
        @media (max-width: 580px) {
            padding-top: 59px;
        }
        &:before {
            content: "";
            display: block;
            width: 5px;
            height: 120px;
            background: linear-gradient(180deg, var(--blueColor) -5%, var(--pinkColor) 85%);
            margin-right: 20px;
            @media (max-width: 580px) {
                display: none;
             }
        }
        p {
            line-height: 67.2px;
            color: var(--textColor);
            font-size: 56px;
            font-weight: 700;
            padding-left: 78px;
            @media (max-width: 580px) {
                padding-left: 20px;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 530px;
        height: 530px;
        border: 1px solid var(--lineColor);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        @media (max-width: 990px) {
            width: 380px;
            height: 380px;
        }
        @media (max-width: 580px) {
            display: none;
        }

        .point {
            position: absolute;
            background-color: var(--textColor);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
        }

        .pointActive {
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: #fff;
            color: var(--textColor);
            font-size: 20px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border: 1px solid var(--lineColor);
        }
        .pointText {
            position: absolute;
            top: 15px;
            left: 105%;
            font-size: 20px;
            font-weight: 700;
            color: var(--textColor);
            white-space: nowrap;
            // transition: 0.1s linear all;
        }
    }
    .dateContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 200px;
        width: 973px;
        pointer-events: none;
        @media (max-width: 1080px) {
          flex-direction: column;
          font-size: 162px;
        }
        @media (max-width: 990px) {
          flex-direction: column;
          font-size: 122px;
          line-height: 1;
          width: auto;
        }
        @media (max-width: 580px) {
           flex-direction: row;
           width: 273px;
           font-size: 56px;
           line-height: 56px;
           top: 200px;
        }
        p{
            font-weight: 700;
        }
        .dateStart{
           p{
            color: var(--purpleColor);
            @media (max-width: 580px) {
                color: var(--blueColor);
             }
           }
        }
        .dateEnd{
            p{
                color: var(--pinkColor);
            }
        }
    }
    .sliderContainer{
        position: absolute;
        bottom: 25px;
        left: 0;
        width: 100%;
        padding: 0px 160px 0px 80px;
        box-sizing: border-box;
        @media (max-width: 990px) {
            padding: 0px 80px;
        }
        @media (max-width: 580px) {
            padding: 0px 20px;
        }
        .line{
            display: none;
            width: 100%;
            margin: 0 auto;
            height: 1px;
            background-color: var(--lineColor);
            box-sizing: border-box;
            margin-bottom: 20px;
            @media (max-width: 580px) {
                display: block;
            }
        }
        .nameSlidePhone{
            display: none;
            color: var(--textColor);
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
            margin: 0px 0px 10px 0px ;
            @media (max-width: 580px) {
                display: block;
             }
        }
        .sliderContainerPickerDate{
            display: flex;
            color: var(--textColor);
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            @media (max-width: 580px) {
                display: none;
             }
        }
        .buttonContainer{
            @include ButtonSlider(50px);
            @media (max-width: 580px) {
                display: none;
            }
        }
        .sliderContainerButtonPhone{
            display: none;
            position: relative;
            @media (max-width: 580px) {
                display: block;
            }
            .sliderContainerPickerPhone{
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 10px;
                color: var(--textColor)
            }
            .buttonContainerPhone{
                @include ButtonSlider(25px);
                margin: 0;
                button{
                    &:first-child{
                        margin-right: 9px;
                    }
                }
                svg{
                    width: 6px;
                    height: 9px;
                }
            }
        }
    }
}

