@import './colors.scss';
@import './mixins.scss';


@font-face { 
  font-family: "PTSansRegular";
  src: url("./../assets/fonts/PTSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: PTSansRegular;
  padding: 0;
  
}
p{
  margin: 0;
  padding: 0;
}
