
.slider{
    cursor: pointer;
    @media (max-width: 580px) {
       margin-bottom: 78px;
    }
    .date{
        color: var(--blueColor);
        font-size: 25px;
        font-weight: 400px;
        margin-bottom: 15px;
        @media (max-width: 580px) {
           font-size: 16px;
         }
    }
    .text {
        font-size: 20px;
        color: var(--textColor);
        line-height: 30px;
        min-height: 90px; 
        max-height: 120px;
        overflow: hidden; 
        text-overflow: ellipsis; 
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        @media (max-width: 580px) {
            font-size: 14px;
            line-height: 20px;
            -webkit-line-clamp: 4;
            min-height: 80px; 
        }
    }
    .nextButton {
        position: absolute;
        top: calc(50% + 20px);
        transform: (translate(-50%, 50%));
        right: 40px;
        background: none;
        border: none;
        cursor: pointer;
        box-shadow: 0px 0px 15px 0px #3877EE1A;
        width: 40px;
        height: 40px;
        z-index: 10;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        @media (max-width: 990px) {
            right: 20px
        }
        @media (max-width: 580px) {
            display: none;
         }
      }
}